# Performance Student 

    - Applied Machine Learning for predict performance student

### Import depedencies

In [2]:
import matplotlib.pyplot as plt 
import numpy as np 
import pandas as pd 
# import sklearn as skt

### Read dataset with pandas

In [5]:
with open("StudentsPerformance.csv", "r") as csv: 
    df = pd.read_csv(csv)

In [6]:
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [19]:
df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [20]:
a = [1,2,3]
b = [2,3,4]

np.mean(a, b)

TypeError: tuple indices must be integers or slices, not list